/* Import Global Theme */
@import './Styles/theme.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    /* Space for fixed navbar */
}